.bg-pink{
  background-color:pink;
}
.fs-0{
  font-size:60px;
}
.my-border{
    border:20px double green;
}

.bg-yellow{
  background-color:yellow;
}
 .bg-blue{
 background-color:#1640D6;
}
 .bg-babyblue{
  background-color:#76ABAE;
} 

 .bg-red{
   background-color:#FF004D;
}

 .bg-purpule{
   background-color:#891652;
}
 .bg-red{
   background-color:#FF204E;
}